<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100904_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1806},{200,170}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,143},{200,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100904_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1806},{202,170}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,143},{202,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100904_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1640},{212,164}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,149},{212,164}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100904_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,298},{242,160}}</string>
                <key>offset</key>
                <string>{3,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,153},{242,160}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100904_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1166},{288,156}}</string>
                <key>offset</key>
                <string>{-12,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,157},{288,156}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100904_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1442},{342,154}}</string>
                <key>offset</key>
                <string>{-15,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,159},{342,154}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100904_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{366,154}}</string>
                <key>offset</key>
                <string>{-17,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,159},{366,154}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100904_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{384,160}}</string>
                <key>offset</key>
                <string>{-18,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,155},{384,160}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100904_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,196}}</string>
                <key>offset</key>
                <string>{-24,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,108},{416,196}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100904_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{406,196}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,97},{406,196}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100904_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{386,198}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,85},{386,198}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100904_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{376,258}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,17},{376,258}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100904_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,460},{368,264}}</string>
                <key>offset</key>
                <string>{-15,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,4},{368,264}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100904_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{362,264}}</string>
                <key>offset</key>
                <string>{-18,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{362,264}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100904_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{240,294}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,0},{240,294}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100904_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1324},{286,314}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,0},{286,314}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100904_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{310,314}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,0},{310,314}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100904_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,830},{334,274}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,39},{334,274}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100904.pvr.ccz</string>
            <key>size</key>
            <string>{662,2010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13d3526744971dda72b05fc0317a8d85:068e1c150942c7e4950074828e2fd30d:500f5c3a68cce9bf324932ae0bfdc14b$</string>
            <key>textureFileName</key>
            <string>100904.pvr.ccz</string>
        </dict>
    </dict>
</plist>
