<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100502_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,384},{180,186}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,16},{180,186}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,216},{234,154}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,45},{234,154}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{224,144}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,55},{224,144}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,582},{222,150}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,54},{222,150}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{230,144}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,57},{230,144}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,200},{250,182}}</string>
                <key>offset</key>
                <string>{83,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,23},{250,182}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{306,196}}</string>
                <key>offset</key>
                <string>{42,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,10},{306,196}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{228,186}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,18},{228,186}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,712},{222,188}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,15},{222,188}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,712},{222,172}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,30},{222,172}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,178},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,111.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,806},{208,210}}</string>
                <key>offset</key>
                <string>{25,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,0},{208,210}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,578},{220,200}}</string>
                <key>offset</key>
                <string>{18,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,0},{220,200}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,572},{172,142}}</string>
                <key>offset</key>
                <string>{47,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,11},{172,142}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,582},{128,132}}</string>
                <key>offset</key>
                <string>{29,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,20},{128,132}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{326,212}}</string>
                <key>offset</key>
                <string>{-93,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{326,212}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,174}}</string>
                <key>offset</key>
                <string>{-58,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{336,174}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{310,198}}</string>
                <key>offset</key>
                <string>{-49,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,2},{310,198}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,384},{170,192}}</string>
                <key>offset</key>
                <string>{25,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,0},{170,192}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100502_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,372},{230,208}}</string>
                <key>offset</key>
                <string>{32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,7},{230,208}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100502.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cab71514288da3e8552b3e7ef44b39d:7dd5255b4f2e3eae6f8fc2acfec12ac9:d4f050916a35766c41f9102024518692$</string>
            <key>textureFileName</key>
            <string>100502.pvr.ccz</string>
        </dict>
    </dict>
</plist>
