<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100503_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,416},{224,174}}</string>
                <key>offset</key>
                <string>{12,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,141},{224,174}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,214},{230,172}}</string>
                <key>offset</key>
                <string>{13,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,143},{230,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,440},{198,194}}</string>
                <key>offset</key>
                <string>{-13,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,121},{198,194}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{228,204}}</string>
                <key>offset</key>
                <string>{-37,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,109},{228,204}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{208,204}}</string>
                <key>offset</key>
                <string>{-9,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,109},{208,204}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{250,210}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,103},{250,210}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{224,194}}</string>
                <key>offset</key>
                <string>{5,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,129},{224,194}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{242,192}}</string>
                <key>offset</key>
                <string>{-13,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,122},{242,192}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,388},{226,196}}</string>
                <key>offset</key>
                <string>{-5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,122},{226,196}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,586},{214,190}}</string>
                <key>offset</key>
                <string>{-8,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,125},{214,190}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,778},{204,166}}</string>
                <key>offset</key>
                <string>{14,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,152},{204,166}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,196},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,196},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,930},{88,162}}</string>
                <key>offset</key>
                <string>{87,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,143},{88,162}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,778},{130,88}}</string>
                <key>offset</key>
                <string>{44,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,108},{130,88}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{194,88}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,106},{194,88}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{226,90}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,106},{226,90}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,226}}</string>
                <key>offset</key>
                <string>{-1,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,110},{264,226}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,196},{218,230}}</string>
                <key>offset</key>
                <string>{-18,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,106},{218,230}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,216},{226,222}}</string>
                <key>offset</key>
                <string>{-16,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,106},{226,222}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{232,212}}</string>
                <key>offset</key>
                <string>{-17,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,109},{232,212}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100503_fx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,388},{48,96}}</string>
                <key>offset</key>
                <string>{68,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,102},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100503.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc34961d4b56a1b30cd3c71ecffe57ea:71e622c5aae5779186fc42d22e7be747:cc72092763b418e53e15819c32c2d2b1$</string>
            <key>textureFileName</key>
            <string>100503.pvr.ccz</string>
        </dict>
    </dict>
</plist>
