<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100501_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,330},{232,178}}</string>
                <key>offset</key>
                <string>{7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,54},{232,178}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100501_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,372},{230,180}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,52},{230,180}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100501_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{208,156}}</string>
                <key>offset</key>
                <string>{-28,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,75},{208,156}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100501_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,554},{252,208}}</string>
                <key>offset</key>
                <string>{-43,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,20},{252,208}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100501_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,510},{256,206}}</string>
                <key>offset</key>
                <string>{-57,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,25},{256,206}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100501_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,554},{266,212}}</string>
                <key>offset</key>
                <string>{-28,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,23},{266,212}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100501_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{402,220}}</string>
                <key>offset</key>
                <string>{31,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,22},{402,220}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100501_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{414,176}}</string>
                <key>offset</key>
                <string>{14,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,65},{414,176}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100501_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{220,184}}</string>
                <key>offset</key>
                <string>{88,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,60},{220,184}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100501_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,154},{342,168}}</string>
                <key>offset</key>
                <string>{46,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,63},{342,168}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100501_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,160},{268,168}}</string>
                <key>offset</key>
                <string>{35,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,69},{268,168}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100501_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,111.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100501_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,111.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100501_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{114,72}}</string>
                <key>offset</key>
                <string>{87,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,134},{114,72}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100501_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,192},{178,192}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,2},{178,192}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100501_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{172,188}}</string>
                <key>offset</key>
                <string>{13,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100501_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{216,150}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,0},{216,150}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100501_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{188,162}}</string>
                <key>offset</key>
                <string>{-150,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,35},{188,162}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100501_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,768},{342,224}}</string>
                <key>offset</key>
                <string>{-83,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{342,224}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100501_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,764},{228,224}}</string>
                <key>offset</key>
                <string>{-76,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{228,224}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100501_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{292,146}}</string>
                <key>offset</key>
                <string>{-95,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,65},{292,146}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100501_fx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,111.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100501.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75c7296750c7937cf815ed272775b986:39fc8fe58d2bade0fb673f92d08a850d:01e1a68682099137fa297b26e7fe4e3d$</string>
            <key>textureFileName</key>
            <string>100501.pvr.ccz</string>
        </dict>
    </dict>
</plist>
