<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100508_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,200},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,111.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100508_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,200},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,111.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100508_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{162,154}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,19},{162,154}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100508_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{234,182}}</string>
                <key>offset</key>
                <string>{-35,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,6},{234,182}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100508_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{174,196}}</string>
                <key>offset</key>
                <string>{48,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,0},{174,196}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100508_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{252,200}}</string>
                <key>offset</key>
                <string>{130,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,24},{252,200}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100508_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,206}}</string>
                <key>offset</key>
                <string>{155,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,18},{202,206}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100508_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{110,176}}</string>
                <key>offset</key>
                <string>{201,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,44},{110,176}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100508_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{290,182}}</string>
                <key>offset</key>
                <string>{111,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,41},{290,182}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100508_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,2},{112,180}}</string>
                <key>offset</key>
                <string>{200,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,42},{112,180}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100508.pvr.ccz</string>
            <key>size</key>
            <string>{1550,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19b271c26a2aed824c5a81a8d7b2c3eb:b156c26f2ecc87df9448983cd15ed385:89aec40f7e5daf42170058d0cb5ad12f$</string>
            <key>textureFileName</key>
            <string>100508.pvr.ccz</string>
        </dict>
    </dict>
</plist>
