<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100408_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,786},{180,156}}</string>
                <key>offset</key>
                <string>{-17,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,156},{180,156}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1634},{144,194}}</string>
                <key>offset</key>
                <string>{20,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,119},{144,194}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1482},{150,200}}</string>
                <key>offset</key>
                <string>{18,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,114},{150,200}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,944},{154,202}}</string>
                <key>offset</key>
                <string>{20,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,112},{154,202}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,204},{156,200}}</string>
                <key>offset</key>
                <string>{20,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,114},{156,200}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{158,200}}</string>
                <key>offset</key>
                <string>{21,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,114},{158,200}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1544},{332,298}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,38},{332,298}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1148},{332,248}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,88},{332,248}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1844},{152,194}}</string>
                <key>offset</key>
                <string>{13,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,119},{152,194}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,406},{172,192}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,121},{172,192}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1844},{152,192}}</string>
                <key>offset</key>
                <string>{11,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,121},{152,192}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1830},{152,192}}</string>
                <key>offset</key>
                <string>{11,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,121},{152,192}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{340,260}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,76},{340,260}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,600},{184,156}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,156},{184,156}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1068},{48,48}}</string>
                <key>offset</key>
                <string>{14,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,123},{48,48}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1768},{48,48}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,123},{48,48}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1016},{50,72}}</string>
                <key>offset</key>
                <string>{20,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,99},{50,72}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1634},{132,114}}</string>
                <key>offset</key>
                <string>{24,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,87},{132,114}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{334,264}}</string>
                <key>offset</key>
                <string>{-52,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,71},{334,264}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{418,336}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{418,336}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,336}}</string>
                <key>offset</key>
                <string>{40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{432,336}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100408_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{424,336}}</string>
                <key>offset</key>
                <string>{44,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{424,336}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100408.pvr.ccz</string>
            <key>size</key>
            <string>{606,1998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82d8b50ab7f89af8a54b8b1fcb54c73d:e23292b9c71e67404684c57fedde19ad:0249bbc49790d2e517ad05b18f015445$</string>
            <key>textureFileName</key>
            <string>100408.pvr.ccz</string>
        </dict>
    </dict>
</plist>
