<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1004_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,360},{152,176}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,144},{152,176}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{190,168}}</string>
                <key>offset</key>
                <string>{26,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,145},{190,168}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,2},{176,170}}</string>
                <key>offset</key>
                <string>{19,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,143},{176,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,366},{180,168}}</string>
                <key>offset</key>
                <string>{19,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,144},{180,168}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{182,170}}</string>
                <key>offset</key>
                <string>{17,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,143},{182,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,184},{180,170}}</string>
                <key>offset</key>
                <string>{19,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,142},{180,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_down_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{178,164}}</string>
                <key>offset</key>
                <string>{31,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,151},{178,164}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_down_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,486},{192,154}}</string>
                <key>offset</key>
                <string>{43,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,161},{192,154}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_down_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,232},{226,130}}</string>
                <key>offset</key>
                <string>{64,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,184},{226,130}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_down_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,106}}</string>
                <key>offset</key>
                <string>{69,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,215},{254,106}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_down_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{244,110}}</string>
                <key>offset</key>
                <string>{63,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,223},{244,110}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_down_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,236},{232,106}}</string>
                <key>offset</key>
                <string>{57,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,225},{232,106}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_down_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{232,110}}</string>
                <key>offset</key>
                <string>{58,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,223},{232,110}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,180},{152,176}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,144},{152,176}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{240,168}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,145},{240,168}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,182},{176,174}}</string>
                <key>offset</key>
                <string>{19,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,143},{176,174}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,370},{180,174}}</string>
                <key>offset</key>
                <string>{19,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,143},{180,174}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,232},{182,174}}</string>
                <key>offset</key>
                <string>{17,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,143},{182,174}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,552},{142,176}}</string>
                <key>offset</key>
                <string>{4,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,145},{142,176}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,342},{154,166}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,38},{154,166}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>1004_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,2},{152,168}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,37},{152,168}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>1004_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,358},{158,172}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,36},{158,172}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>1004_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,538},{156,174}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,36},{156,174}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>1004_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,360},{156,176}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,36},{156,176}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>1004_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,538},{156,176}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,35},{156,176}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>1004_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,180},{158,172}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,36},{158,172}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>1004_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,172},{152,168}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,36},{152,168}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>1004_victory_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,2},{170,152}}</string>
                <key>offset</key>
                <string>{14,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,130},{170,152}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_victory_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,532},{168,156}}</string>
                <key>offset</key>
                <string>{16,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,126},{168,156}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_victory_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,416},{156,182}}</string>
                <key>offset</key>
                <string>{27,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,95},{156,182}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_victory_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,244},{158,240}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,35},{158,240}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_victory_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,244},{178,236}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,34},{178,236}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_victory_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{170,228}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,43},{170,228}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_victory_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{156,232}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,40},{156,232}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_victory_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,498},{166,152}}</string>
                <key>offset</key>
                <string>{12,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,130},{166,152}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1004_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,184},{148,180}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,30},{148,180}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>1004_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,186},{144,182}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,29},{144,182}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>1004_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,482},{166,190}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{166,190}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>1004_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,460},{182,176}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,27},{182,176}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>1004_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,470},{186,170}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,30},{186,170}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>1004_walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{180,170}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,29},{180,170}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>1004_walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{180,178}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,29},{180,178}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>1004_walk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,2},{148,176}}</string>
                <key>offset</key>
                <string>{-20,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{148,176}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1004.pvr.ccz</string>
            <key>size</key>
            <string>{2042,697}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e2c044365c6635314e0894264649e43:b6ca9342944e74a48fdc8b3ba859a41d:008c5e957caa3abf1bcda1132e4248fe$</string>
            <key>textureFileName</key>
            <string>1004.pvr.ccz</string>
        </dict>
    </dict>
</plist>
