<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>900601_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,530},{154,158}}</string>
                <key>offset</key>
                <string>{4,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,158},{154,158}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900601_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1418},{158,162}}</string>
                <key>offset</key>
                <string>{-2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,154},{158,162}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900601_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{168,196}}</string>
                <key>offset</key>
                <string>{-39,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,120},{168,196}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900601_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1250},{166,204}}</string>
                <key>offset</key>
                <string>{-37,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,112},{166,204}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900601_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,690},{286,206}}</string>
                <key>offset</key>
                <string>{51,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,128},{286,206}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900601_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,278},{250,148}}</string>
                <key>offset</key>
                <string>{84,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,181},{250,148}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900601_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{188,120}}</string>
                <key>offset</key>
                <string>{28,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,195},{188,120}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900601_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1418},{142,144}}</string>
                <key>offset</key>
                <string>{-3,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,172},{142,144}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900601_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{156,156}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,160},{156,156}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900601_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,530},{154,158}}</string>
                <key>offset</key>
                <string>{4,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,158},{154,158}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900601_impact_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,192},{84,50}}</string>
                <key>offset</key>
                <string>{-80,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,161},{84,50}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900601_impact_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,978},{270,182}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,148},{270,182}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900601_impact_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{346,268}}</string>
                <key>offset</key>
                <string>{11,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,68},{346,268}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900601_impact_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{348,282}}</string>
                <key>offset</key>
                <string>{-29,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,54},{348,282}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900601_impact_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,274}}</string>
                <key>offset</key>
                <string>{-36,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,50},{364,274}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900601_impact_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{366,268}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,47},{366,268}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>900601.pvr.ccz</string>
            <key>size</key>
            <string>{508,1606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6081dfc361787d5c0021f6c8dd8e0fb1:c7a2163ebc467ad3cd4d96ea6196d455:9ba2c355e8fe3737eeb72b1812598d5b$</string>
            <key>textureFileName</key>
            <string>900601.pvr.ccz</string>
        </dict>
    </dict>
</plist>
