<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1009_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1878},{128,146}}</string>
                <key>offset</key>
                <string>{-23,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,167},{128,146}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1858},{128,162}}</string>
                <key>offset</key>
                <string>{-31,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,156},{128,162}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,578},{136,158}}</string>
                <key>offset</key>
                <string>{-35,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,158},{136,158}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1800},{140,158}}</string>
                <key>offset</key>
                <string>{-45,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,157},{140,158}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1900},{172,124}}</string>
                <key>offset</key>
                <string>{-63,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,189},{172,124}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,978},{170,110}}</string>
                <key>offset</key>
                <string>{-65,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,223},{170,110}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_down_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,230},{174,106}}</string>
                <key>offset</key>
                <string>{-66,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,230},{174,106}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_down_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,406},{170,106}}</string>
                <key>offset</key>
                <string>{-67,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,230},{170,106}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1162},{170,164}}</string>
                <key>offset</key>
                <string>{-8,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,149},{170,164}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1878},{124,154}}</string>
                <key>offset</key>
                <string>{-17,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,159},{124,154}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1334},{150,168}}</string>
                <key>offset</key>
                <string>{-12,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,145},{150,168}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1706},{188,170}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,143},{188,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1398},{200,170}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,143},{200,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1558},{198,170}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,143},{198,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1342},{198,172}}</string>
                <key>offset</key>
                <string>{4,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,141},{198,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1516},{198,170}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,143},{198,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1600},{198,168}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,145},{198,168}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1730},{198,168}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,145},{198,168}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1688},{198,168}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,145},{198,168}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1504},{200,168}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,145},{200,168}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_victory_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{254,182}}</string>
                <key>offset</key>
                <string>{6,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,146},{254,182}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_victory_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,230},{300,220}}</string>
                <key>offset</key>
                <string>{-11,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,107},{300,220}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_victory_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{344,226}}</string>
                <key>offset</key>
                <string>{-27,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,99},{344,226}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_victory_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,216}}</string>
                <key>offset</key>
                <string>{-37,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,107},{362,216}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_victory_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{358,200}}</string>
                <key>offset</key>
                <string>{-46,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,125},{358,200}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_victory_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,452},{336,172}}</string>
                <key>offset</key>
                <string>{-52,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,149},{336,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_victory_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{290,206}}</string>
                <key>offset</key>
                <string>{-56,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,116},{290,206}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_victory_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,626},{258,222}}</string>
                <key>offset</key>
                <string>{-51,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,98},{258,222}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_victory_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,738},{238,214}}</string>
                <key>offset</key>
                <string>{-32,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,105},{238,214}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_victory_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{236,200}}</string>
                <key>offset</key>
                <string>{-5,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,119},{236,200}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{200,182}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,133},{200,182}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{198,178}}</string>
                <key>offset</key>
                <string>{3,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,136},{198,178}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1162},{198,178}}</string>
                <key>offset</key>
                <string>{4,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,137},{198,178}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,978},{198,182}}</string>
                <key>offset</key>
                <string>{3,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,134},{198,182}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1036},{198,182}}</string>
                <key>offset</key>
                <string>{2,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,134},{198,182}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1220},{198,176}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,137},{198,176}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{198,176}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,138},{198,176}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1009_walk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,850},{200,184}}</string>
                <key>offset</key>
                <string>{-1,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,131},{200,184}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1009.pvr.ccz</string>
            <key>size</key>
            <string>{772,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93fe14a98308ac92a5823f2fab3cb446:78bd445ccf481b5558ab8035768cad36:e352d709b12f062d4aecc7e48684bb96$</string>
            <key>textureFileName</key>
            <string>1009.pvr.ccz</string>
        </dict>
    </dict>
</plist>
