<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100903_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,674},{200,170}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,143},{200,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1866},{218,162}}</string>
                <key>offset</key>
                <string>{-5,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,151},{218,162}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1708},{222,156}}</string>
                <key>offset</key>
                <string>{-14,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,157},{222,156}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{240,168}}</string>
                <key>offset</key>
                <string>{-26,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,145},{240,168}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,876},{214,172}}</string>
                <key>offset</key>
                <string>{-52,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,141},{214,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1092},{214,172}}</string>
                <key>offset</key>
                <string>{-57,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,141},{214,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{302,176}}</string>
                <key>offset</key>
                <string>{-16,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,137},{302,176}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{246,184}}</string>
                <key>offset</key>
                <string>{-50,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,129},{246,184}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{252,190}}</string>
                <key>offset</key>
                <string>{-59,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,123},{252,190}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{268,184}}</string>
                <key>offset</key>
                <string>{-50,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,129},{268,184}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{248,178}}</string>
                <key>offset</key>
                <string>{-28,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,135},{248,178}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1308},{202,172}}</string>
                <key>offset</key>
                <string>{-6,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,141},{202,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1512},{200,168}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,145},{200,168}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{54,60}}</string>
                <key>offset</key>
                <string>{20,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,180},{54,60}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1816},{80,122}}</string>
                <key>offset</key>
                <string>{-43,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,145},{80,122}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1866},{114,160}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,104},{114,160}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1682},{132,188}}</string>
                <key>offset</key>
                <string>{24,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,64},{132,188}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,212}}</string>
                <key>offset</key>
                <string>{-84,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{344,212}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{200,248}}</string>
                <key>offset</key>
                <string>{-29,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,31},{200,248}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1510},{222,196}}</string>
                <key>offset</key>
                <string>{10,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,22},{222,196}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,448},{224,152}}</string>
                <key>offset</key>
                <string>{13,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,42},{224,152}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,216},{230,114}}</string>
                <key>offset</key>
                <string>{4,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,0},{230,114}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_fx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_fx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100903_fx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100903.pvr.ccz</string>
            <key>size</key>
            <string>{428,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef92852b7b7b94361d21e9a44f44b17d:9d081a4f0021dd30b94451cb35c5fbf2:a46b3a84a10cd0255ed3a45d8d46bdfb$</string>
            <key>textureFileName</key>
            <string>100903.pvr.ccz</string>
        </dict>
    </dict>
</plist>
