<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100902_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1396},{200,170}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,143},{200,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1524},{200,164}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,149},{200,164}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{222,164}}</string>
                <key>offset</key>
                <string>{-2,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,149},{222,164}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,826},{214,166}}</string>
                <key>offset</key>
                <string>{-2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,147},{214,166}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{216,172}}</string>
                <key>offset</key>
                <string>{14,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,141},{216,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{232,170}}</string>
                <key>offset</key>
                <string>{18,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,143},{232,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1042},{200,176}}</string>
                <key>offset</key>
                <string>{47,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,137},{200,176}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1752},{170,186}}</string>
                <key>offset</key>
                <string>{36,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,127},{170,186}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1598},{152,190}}</string>
                <key>offset</key>
                <string>{23,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,123},{152,190}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1690},{142,188}}</string>
                <key>offset</key>
                <string>{11,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,125},{142,188}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1244},{150,178}}</string>
                <key>offset</key>
                <string>{9,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,135},{150,178}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,652},{158,172}}</string>
                <key>offset</key>
                <string>{17,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,141},{158,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,154},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,370},{40,54}}</string>
                <key>offset</key>
                <string>{18,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,186},{40,54}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,260},{66,108}}</string>
                <key>offset</key>
                <string>{46,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,146},{66,108}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{98,150}}</string>
                <key>offset</key>
                <string>{39,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,90},{98,150}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,446},{116,178}}</string>
                <key>offset</key>
                <string>{31,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,38},{116,178}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{140,236}}</string>
                <key>offset</key>
                <string>{19,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,1},{140,236}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{204,282}}</string>
                <key>offset</key>
                <string>{-13,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,0},{204,282}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{218,216}}</string>
                <key>offset</key>
                <string>{-20,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,0},{218,216}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{292,172}}</string>
                <key>offset</key>
                <string>{-54,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{292,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,268}}</string>
                <key>offset</key>
                <string>{-51,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{300,268}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_fx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,154},{88,104}}</string>
                <key>offset</key>
                <string>{70,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,191},{88,104}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100902_fx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1834},{124,138}}</string>
                <key>offset</key>
                <string>{70,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,175},{124,138}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100902.pvr.ccz</string>
            <key>size</key>
            <string>{404,1960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1da87d0015ad6de9d3ecdadb151e9a60:d0b6a0204a245c43d9680759376b5b8b:0d3607804bc3ee1a3e805f8e4b3a6c39$</string>
            <key>textureFileName</key>
            <string>100902.pvr.ccz</string>
        </dict>
    </dict>
</plist>
