<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100208_fx_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100208_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1682},{158,146}}</string>
                <key>offset</key>
                <string>{47,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,52},{158,146}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100208_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,286}}</string>
                <key>offset</key>
                <string>{31,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,0},{344,286}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100208_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1292},{388,336}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,0},{388,336}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100208_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{486,336}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{486,336}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100208_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{512,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,336}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100208_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1682},{218,336}}</string>
                <key>offset</key>
                <string>{101,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,0},{218,336}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100208.pvr.ccz</string>
            <key>size</key>
            <string>{370,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b754b96fd5d23a0b7497373058ee7c7:30d7e99b6c4ad017bc877f1cd1a878f9:9039b371347e2d217292572d8ac288a3$</string>
            <key>textureFileName</key>
            <string>100208.pvr.ccz</string>
        </dict>
    </dict>
</plist>
