<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100201_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{186,152}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,55},{186,152}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{204,162}}</string>
                <key>offset</key>
                <string>{16,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,42},{204,162}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,228},{186,186}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{186,186}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,158},{232,210}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,210}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,416},{210,212}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{210,212}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,224},{232,208}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{232,208}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,370},{230,216}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{230,216}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{226,158}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,52},{226,158}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,228},{170,158}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,55},{170,158}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{184,162}}</string>
                <key>offset</key>
                <string>{7,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,55},{184,162}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{236,154}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{236,154}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{248,220}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{248,220}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,224}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{254,224}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,224}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,588},{136,218}}</string>
                <key>offset</key>
                <string>{29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,4},{136,218}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_projectile_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,474},{90,50}}</string>
                <key>offset</key>
                <string>{54,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,88},{90,50}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_projectile_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,526},{86,56}}</string>
                <key>offset</key>
                <string>{55,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,84},{86,56}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_projectile_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,416},{104,56}}</string>
                <key>offset</key>
                <string>{46,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,83},{104,56}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_projectile_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,808},{120,52}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,86},{120,52}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100201_projectile_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,930},{116,46}}</string>
                <key>offset</key>
                <string>{43,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,92},{116,46}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100201.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3121faa4a64e2dd2d51ba48567bb1d11:71ae732b2171cb29bf6ba6e085b34633:39e9144056aea8f185962b263fde15cb$</string>
            <key>textureFileName</key>
            <string>100201.pvr.ccz</string>
        </dict>
    </dict>
</plist>
