<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100204_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,184},{190,160}}</string>
                <key>offset</key>
                <string>{9,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,58},{190,160}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100204_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{184,158}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,58},{184,158}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100204_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{180,190}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,21},{180,190}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100204_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,192},{226,180}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{226,180}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100204_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{234,188}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{234,188}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100204_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{232,192}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{232,192}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100204_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,192}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{238,192}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100204_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,196},{188,188}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,8},{188,188}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100204_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{178,202}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{178,202}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100204_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,374},{186,162}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,55},{186,162}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100204_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{80,70}}</string>
                <key>offset</key>
                <string>{-37,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,98},{80,70}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100204_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{162,178}}</string>
                <key>offset</key>
                <string>{-27,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{162,178}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100204_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{170,166}}</string>
                <key>offset</key>
                <string>{-24,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{170,166}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100204_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,700},{170,166}}</string>
                <key>offset</key>
                <string>{-25,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{170,166}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
            <key>100204_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{158,148}}</string>
                <key>offset</key>
                <string>{-30,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{158,148}}</string>
                <key>sourceSize</key>
                <string>{256,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100204.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a48fe8b71d5a978cb05f18b6aa37872a:3efc598fecc411041ded6651d79b2750:63ab7b3b83f6ca1cfcbb5e3140529702$</string>
            <key>textureFileName</key>
            <string>100204.pvr.ccz</string>
        </dict>
    </dict>
</plist>
