<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9006_appear_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1164},{300,196}}</string>
                <key>offset</key>
                <string>{-12,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,7},{300,196}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_appear_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,976},{300,200}}</string>
                <key>offset</key>
                <string>{-12,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,7},{300,200}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_appear_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{296,242}}</string>
                <key>offset</key>
                <string>{-11,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,20},{296,242}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_appear_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{274,228}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,50},{274,228}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_appear_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{252,260}}</string>
                <key>offset</key>
                <string>{-6,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,73},{252,260}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_appear_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,704},{242,274}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,59},{242,274}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_appear_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1178},{242,230}}</string>
                <key>offset</key>
                <string>{8,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,106},{242,230}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_appear_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,730},{268,244}}</string>
                <key>offset</key>
                <string>{4,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,84},{268,244}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_appear_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{392,226}}</string>
                <key>offset</key>
                <string>{9,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,110},{392,226}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_appear_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,380},{348,222}}</string>
                <key>offset</key>
                <string>{-11,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,114},{348,222}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_appear_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,480},{336,222}}</string>
                <key>offset</key>
                <string>{-4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,103},{336,222}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{144,202}}</string>
                <key>offset</key>
                <string>{-10,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,133},{144,202}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{314,248}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,88},{314,248}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,320}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,16},{306,320}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,230},{248,336}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,0},{248,336}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,948},{214,298}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,0},{214,298}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{196,286}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,0},{196,286}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_down_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1362},{192,288}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,0},{192,288}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_down_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1410},{180,278}}</string>
                <key>offset</key>
                <string>{-15,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,1},{180,278}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1622},{154,158}}</string>
                <key>offset</key>
                <string>{3,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,158},{154,158}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1864},{126,154}}</string>
                <key>offset</key>
                <string>{3,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,162},{126,154}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1178},{104,164}}</string>
                <key>offset</key>
                <string>{-9,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,151},{104,164}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1500},{110,156}}</string>
                <key>offset</key>
                <string>{-5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,158},{110,156}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1714},{148,152}}</string>
                <key>offset</key>
                <string>{6,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,163},{148,152}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1622},{154,158}}</string>
                <key>offset</key>
                <string>{3,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,158},{154,158}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1592},{154,158}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,157},{154,158}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1556},{162,156}}</string>
                <key>offset</key>
                <string>{5,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,159},{162,156}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,206},{172,154}}</string>
                <key>offset</key>
                <string>{6,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,161},{172,154}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1916},{128,146}}</string>
                <key>offset</key>
                <string>{2,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,170},{128,146}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1884},{110,144}}</string>
                <key>offset</key>
                <string>{7,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,172},{110,144}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1884},{114,146}}</string>
                <key>offset</key>
                <string>{4,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,170},{114,146}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1658},{116,148}}</string>
                <key>offset</key>
                <string>{-1,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,168},{116,148}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1748},{134,154}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,161},{134,154}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_jump_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1556},{122,154}}</string>
                <key>offset</key>
                <string>{-8,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,140},{122,154}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1808},{110,154}}</string>
                <key>offset</key>
                <string>{14,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,162},{110,154}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1748},{114,150}}</string>
                <key>offset</key>
                <string>{10,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,165},{114,150}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1900},{104,146}}</string>
                <key>offset</key>
                <string>{22,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,171},{104,146}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1592},{118,154}}</string>
                <key>offset</key>
                <string>{23,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,163},{118,154}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1864},{130,158}}</string>
                <key>offset</key>
                <string>{18,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,159},{130,158}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1778},{136,152}}</string>
                <key>offset</key>
                <string>{15,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,165},{136,152}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1712},{122,150}}</string>
                <key>offset</key>
                <string>{11,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,169},{122,150}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9006_walk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1344},{104,154}}</string>
                <key>offset</key>
                <string>{20,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,164},{104,154}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>9006.pvr.ccz</string>
            <key>size</key>
            <string>{886,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50f2399924d8fbf7fc495211c39e95f6:a0f9528d7ca18e0e6d444291146e0e85:7d9543402b151afc90c6367dc85a1195$</string>
            <key>textureFileName</key>
            <string>9006.pvr.ccz</string>
        </dict>
    </dict>
</plist>
