<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100402_impact_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,182},{116,72}}</string>
                <key>offset</key>
                <string>{-23,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,188},{116,72}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_impact_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{286,222}}</string>
                <key>offset</key>
                <string>{-27,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,106},{286,222}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_impact_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,228}}</string>
                <key>offset</key>
                <string>{-2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,108},{354,228}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_impact_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,256},{100,158}}</string>
                <key>offset</key>
                <string>{-87,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,135},{100,158}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_impact_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{118,178}}</string>
                <key>offset</key>
                <string>{-110,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,127},{118,178}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100402_impact.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8ca7210b34e587fba3b8627e7b9c112:15b73e882cab384a818356054d1854a6:bedfe7db2b26fc94cbd430b095072383$</string>
            <key>textureFileName</key>
            <string>100402_impact.pvr.ccz</string>
        </dict>
    </dict>
</plist>
