<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100402_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,782},{142,174}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,142},{142,174}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,614},{166,186}}</string>
                <key>offset</key>
                <string>{47,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,130},{166,186}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{172,174}}</string>
                <key>offset</key>
                <string>{47,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,142},{172,174}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,770},{172,172}}</string>
                <key>offset</key>
                <string>{45,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,144},{172,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,532},{172,172}}</string>
                <key>offset</key>
                <string>{44,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,144},{172,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,532},{172,172}}</string>
                <key>offset</key>
                <string>{45,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,143},{172,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,316},{212,148}}</string>
                <key>offset</key>
                <string>{60,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,165},{212,148}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,346},{212,148}}</string>
                <key>offset</key>
                <string>{60,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,165},{212,148}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{210,150}}</string>
                <key>offset</key>
                <string>{59,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,163},{210,150}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,636},{132,174}}</string>
                <key>offset</key>
                <string>{12,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,153},{132,174}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,174},{56,58}}</string>
                <key>offset</key>
                <string>{40,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,255},{56,58}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,174},{140,234}}</string>
                <key>offset</key>
                <string>{18,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,102},{140,234}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,864},{160,154}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,91},{160,154}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,174},{220,200}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,80},{220,200}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{188,186}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,83},{188,186}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{156,158}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,97},{156,158}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,176}}</string>
                <key>offset</key>
                <string>{-53,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,147},{250,176}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,466},{168,190}}</string>
                <key>offset</key>
                <string>{-172,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,143},{168,190}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,376},{154,202}}</string>
                <key>offset</key>
                <string>{-169,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,131},{154,202}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_fx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,496},{190,116}}</string>
                <key>offset</key>
                <string>{-78,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,207},{190,116}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_pjt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{248,170}}</string>
                <key>offset</key>
                <string>{-33,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,65},{248,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_pjt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{248,170}}</string>
                <key>offset</key>
                <string>{-32,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,65},{248,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_pjt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{248,170}}</string>
                <key>offset</key>
                <string>{-32,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,65},{248,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_pjt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,174},{248,170}}</string>
                <key>offset</key>
                <string>{-33,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,65},{248,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100402_pjt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{246,168}}</string>
                <key>offset</key>
                <string>{-33,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,66},{246,168}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100402.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dea73bd3b5a7e77c80102c07e29c0a6:ad2bdc172ee3c0688f1c3f19f8a6b37d:77bd82aca53f4520a41d7ffbeef9da51$</string>
            <key>textureFileName</key>
            <string>100402.pvr.ccz</string>
        </dict>
    </dict>
</plist>
