<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100505_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,844},{232,178}}</string>
                <key>offset</key>
                <string>{7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,54},{232,178}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100505_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,252},{230,180}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,52},{230,180}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100505_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,638},{208,156}}</string>
                <key>offset</key>
                <string>{-28,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,75},{208,156}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100505_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,634},{252,208}}</string>
                <key>offset</key>
                <string>{-43,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,20},{252,208}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100505_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,252},{256,214}}</string>
                <key>offset</key>
                <string>{-57,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,17},{256,214}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100505_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,250},{270,212}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,23},{270,212}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100505_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,220}}</string>
                <key>offset</key>
                <string>{36,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,22},{412,220}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100505_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{420,182}}</string>
                <key>offset</key>
                <string>{18,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,59},{420,182}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100505_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,452},{220,184}}</string>
                <key>offset</key>
                <string>{88,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,60},{220,184}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100505_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{342,168}}</string>
                <key>offset</key>
                <string>{46,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,63},{342,168}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100505_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,464},{268,168}}</string>
                <key>offset</key>
                <string>{35,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,69},{268,168}}</string>
                <key>sourceSize</key>
                <string>{558,244}</string>
            </dict>
            <key>100505_fx_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,224},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,111.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100505_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,224},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,111.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100505_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,648},{114,72}}</string>
                <key>offset</key>
                <string>{-88,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,134},{114,72}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100505_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,844},{178,192}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,2},{178,192}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100505_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,848},{172,188}}</string>
                <key>offset</key>
                <string>{-13,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100505_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,766},{216,150}}</string>
                <key>offset</key>
                <string>{-7,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,0},{216,150}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100505_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,484},{188,162}}</string>
                <key>offset</key>
                <string>{150,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,35},{188,162}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100505_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,224},{342,224}}</string>
                <key>offset</key>
                <string>{83,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,0},{342,224}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100505_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,568},{228,224}}</string>
                <key>offset</key>
                <string>{75,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,0},{228,224}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100505_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,648},{292,146}}</string>
                <key>offset</key>
                <string>{94,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,65},{292,146}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100505_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,224},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,111.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,224}</string>
            </dict>
            <key>100505_impact_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{56,50}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,192},{56,50}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100505_impact_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,648},{144,116}}</string>
                <key>offset</key>
                <string>{-40,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,151},{144,116}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100505_impact_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,798},{224,204}}</string>
                <key>offset</key>
                <string>{-83,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,116},{224,204}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100505_impact_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,796},{222,222}}</string>
                <key>offset</key>
                <string>{-84,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,78},{222,222}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100505_impact_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{218,276}}</string>
                <key>offset</key>
                <string>{-81,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,47},{218,276}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100505_impact_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{246,322}}</string>
                <key>offset</key>
                <string>{-105,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,14},{246,322}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100505_impact_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{248,304}}</string>
                <key>offset</key>
                <string>{-107,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,28},{248,304}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100505_impact_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,222},{228,216}}</string>
                <key>offset</key>
                <string>{-94,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,88},{228,216}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100505_impact_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,468},{254,178}}</string>
                <key>offset</key>
                <string>{-103,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,62},{254,178}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100505.pvr.ccz</string>
            <key>size</key>
            <string>{1376,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bc30acad19002ff9f6a26689ed48a68:0032c4fef29600e4a33bfaae388b02d0:37163df3b803485fb85de7ec79914d53$</string>
            <key>textureFileName</key>
            <string>100505.pvr.ccz</string>
        </dict>
    </dict>
</plist>
