<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1001_down_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_down_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{259,1},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_down_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{517,1},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_down_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{775,1},{256,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_down_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,227},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_down_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{259,227},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_down_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{517,227},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_down_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{775,259},{256,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_down_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,453},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_down_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,453},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{259,453},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_hurt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{517,453},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_hurt_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{775,517},{256,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_hurt_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,679},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{259,679},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{517,679},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{775,775},{256,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,905},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{259,905},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{517,905},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{775,1033},{256,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,1131},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_walk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{259,1131},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_walk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{517,1131},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_walk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{775,1291},{256,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_walk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,1357},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_walk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{259,1357},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_walk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{517,1357},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1001_walk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{775,1549},{256,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1001_walk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,224}</string>
                <key>spriteSourceSize</key>
                <string>{256,224}</string>
                <key>textureRect</key>
                <string>{{1,1583},{256,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role_1001_base.png</string>
            <key>size</key>
            <string>{1000,1808}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a796c84d7119a0c293feebda464a2c64:ca3c90cabcfb599a15666b892fa1b012:ac4ecda6242092c877621afec06505fd$</string>
            <key>textureFileName</key>
            <string>role_1001_base.png</string>
        </dict>
    </dict>
</plist>
