<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1010_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,2},{188,166}}</string>
                <key>offset</key>
                <string>{-18,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,144},{188,166}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{198,178}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,131},{198,178}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,242},{184,214}}</string>
                <key>offset</key>
                <string>{-13,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,95},{184,214}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{178,250}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,59},{178,250}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,252},{204,240}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,69},{204,240}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,794},{216,248}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,62},{216,248}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_down_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{250,264}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,54},{250,264}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_down_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,252},{248,130}}</string>
                <key>offset</key>
                <string>{-23,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,205},{248,130}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_down_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,502},{246,130}}</string>
                <key>offset</key>
                <string>{-23,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,205},{246,130}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,342},{184,170}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,140},{184,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,612},{192,162}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,148},{192,162}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,202},{196,162}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,148},{196,162}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,668},{206,166}}</string>
                <key>offset</key>
                <string>{-14,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,144},{206,166}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,400},{192,160}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,150},{192,160}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,834},{186,172}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,138},{186,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,196},{188,172}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,138},{188,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,210},{200,172}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,138},{200,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,428},{204,170}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,140},{204,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,458},{208,170}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,140},{208,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,218},{208,170}}</string>
                <key>offset</key>
                <string>{-2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,140},{208,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{206,170}}</string>
                <key>offset</key>
                <string>{-4,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,140},{206,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,634},{198,170}}</string>
                <key>offset</key>
                <string>{-2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,140},{198,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_victory_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{238,202}}</string>
                <key>offset</key>
                <string>{-7,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,125},{238,202}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_victory_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{248,204}}</string>
                <key>offset</key>
                <string>{-11,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,123},{248,204}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_victory_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{268,208}}</string>
                <key>offset</key>
                <string>{-16,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,121},{268,208}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_victory_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{264,210}}</string>
                <key>offset</key>
                <string>{-14,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,120},{264,210}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_victory_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,216}}</string>
                <key>offset</key>
                <string>{-12,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,113},{270,216}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_victory_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,274},{262,214}}</string>
                <key>offset</key>
                <string>{-13,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,114},{262,214}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_victory_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,538},{254,216}}</string>
                <key>offset</key>
                <string>{-12,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,114},{254,216}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_victory_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,494},{232,204}}</string>
                <key>offset</key>
                <string>{-7,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,121},{232,204}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_victory_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,594},{114,108}}</string>
                <key>offset</key>
                <string>{-55,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,53},{114,108}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_victory_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,838},{138,132}}</string>
                <key>offset</key>
                <string>{-48,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,48},{138,132}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_victory_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,838},{148,162}}</string>
                <key>offset</key>
                <string>{-51,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,16},{148,162}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_victory_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,682},{154,178}}</string>
                <key>offset</key>
                <string>{-54,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,0},{154,178}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_victory_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,386},{150,178}}</string>
                <key>offset</key>
                <string>{-52,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,0},{150,178}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_victory_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,876},{144,178}}</string>
                <key>offset</key>
                <string>{-49,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,0},{144,178}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_victory_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,566},{150,170}}</string>
                <key>offset</key>
                <string>{-50,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,8},{150,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_victory_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,838},{138,140}}</string>
                <key>offset</key>
                <string>{-48,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,41},{138,140}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,838},{174,166}}</string>
                <key>offset</key>
                <string>{30,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,150},{174,166}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,514},{178,166}}</string>
                <key>offset</key>
                <string>{29,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,146},{178,166}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,170},{186,170}}</string>
                <key>offset</key>
                <string>{27,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,142},{186,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,412},{198,164}}</string>
                <key>offset</key>
                <string>{21,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,146},{198,164}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,794},{218,164}}</string>
                <key>offset</key>
                <string>{13,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,149},{218,164}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,728},{214,166}}</string>
                <key>offset</key>
                <string>{12,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,146},{214,166}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{214,170}}</string>
                <key>offset</key>
                <string>{18,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,143},{214,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>1010_walk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,2},{192,168}}</string>
                <key>offset</key>
                <string>{21,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,146},{192,168}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1010.pvr.ccz</string>
            <key>size</key>
            <string>{1826,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:527630263dbb2cc7baf15cbb46da0eb0:9b7f49d0cb4ccf64bbef054b316162ce:aa9b712cf3b0762d0ec409eb9e8c469d$</string>
            <key>textureFileName</key>
            <string>1010.pvr.ccz</string>
        </dict>
    </dict>
</plist>
