<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>900401_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,378},{74,100}}</string>
                <key>offset</key>
                <string>{-14,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,182},{74,100}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,412},{80,100}}</string>
                <key>offset</key>
                <string>{-7,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,183},{80,100}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,378},{72,98}}</string>
                <key>offset</key>
                <string>{16,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,187},{72,98}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,412},{84,80}}</string>
                <key>offset</key>
                <string>{46,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,201},{84,80}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,378},{70,94}}</string>
                <key>offset</key>
                <string>{91,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,182},{70,94}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,394},{68,104}}</string>
                <key>offset</key>
                <string>{105,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,165},{68,104}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,394},{68,106}}</string>
                <key>offset</key>
                <string>{111,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,156},{68,106}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,394},{92,106}}</string>
                <key>offset</key>
                <string>{128,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,171},{92,106}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,378},{74,96}}</string>
                <key>offset</key>
                <string>{4,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,180},{74,96}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,378},{74,98}}</string>
                <key>offset</key>
                <string>{-10,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,181},{74,98}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,412},{74,102}}</string>
                <key>offset</key>
                <string>{-13,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,180},{74,102}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,378},{74,100}}</string>
                <key>offset</key>
                <string>{-14,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,182},{74,100}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{16,10}}</string>
                <key>offset</key>
                <string>{-14,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,220},{16,10}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,460},{20,16}}</string>
                <key>offset</key>
                <string>{-30,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,219},{20,16}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,284},{92,62}}</string>
                <key>offset</key>
                <string>{-44,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,212},{92,62}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,348},{150,70}}</string>
                <key>offset</key>
                <string>{-52,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,196},{150,70}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,412},{94,78}}</string>
                <key>offset</key>
                <string>{-92,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,178},{94,78}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,334},{166,232}}</string>
                <key>offset</key>
                <string>{-173,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,96},{166,232}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2},{280,272}}</string>
                <key>offset</key>
                <string>{-116,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,64},{280,272}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{264,330}}</string>
                <key>offset</key>
                <string>{-124,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{264,330}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_fx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,460},{34,28}}</string>
                <key>offset</key>
                <string>{-15,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,207},{34,28}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_fx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_impact_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,284},{206,174}}</string>
                <key>offset</key>
                <string>{-86,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,162},{206,174}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_impact_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{374,336}}</string>
                <key>offset</key>
                <string>{-69,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,336}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_impact_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{456,308}}</string>
                <key>offset</key>
                <string>{28,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,28},{456,308}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_impact_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{408,332}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,4},{408,332}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_impact_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{390,278}}</string>
                <key>offset</key>
                <string>{-17,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,55},{390,278}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>900401_impact_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,234}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,97},{482,234}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>900401.pvr.ccz</string>
            <key>size</key>
            <string>{2044,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac41eacdbdf02de464e6f7630113f4c9:260a45e5a91d044880054c32f9ed3c28:03375c2d7da16c24f7cb753124db1dd2$</string>
            <key>textureFileName</key>
            <string>900401.pvr.ccz</string>
        </dict>
    </dict>
</plist>
