<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9004_appear_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,230},{126,124}}</string>
                <key>offset</key>
                <string>{29,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,158},{126,124}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,130},{120,114}}</string>
                <key>offset</key>
                <string>{41,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{493,134},{120,114}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,2},{122,116}}</string>
                <key>offset</key>
                <string>{46,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{497,119},{122,116}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,222},{120,118}}</string>
                <key>offset</key>
                <string>{37,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{489,106},{120,118}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,2},{126,112}}</string>
                <key>offset</key>
                <string>{22,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{471,81},{126,112}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,126},{120,108}}</string>
                <key>offset</key>
                <string>{31,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{483,49},{120,108}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,230},{124,116}}</string>
                <key>offset</key>
                <string>{45,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{495,30},{124,116}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,222},{120,118}}</string>
                <key>offset</key>
                <string>{33,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{485,19},{120,118}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,248},{114,106}}</string>
                <key>offset</key>
                <string>{16,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,16},{114,106}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,282},{72,78}}</string>
                <key>offset</key>
                <string>{32,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{508,43},{72,78}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,282},{78,72}}</string>
                <key>offset</key>
                <string>{36,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{509,78},{78,72}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,250},{64,76}}</string>
                <key>offset</key>
                <string>{34,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{514,85},{64,76}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,220},{68,92}}</string>
                <key>offset</key>
                <string>{60,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{538,170},{68,92}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,220},{86,60}}</string>
                <key>offset</key>
                <string>{18,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,247},{86,60}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,180},{108,86}}</string>
                <key>offset</key>
                <string>{-16,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,212},{108,86}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,172},{76,94}}</string>
                <key>offset</key>
                <string>{-31,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,198},{76,94}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,250},{76,94}}</string>
                <key>offset</key>
                <string>{-32,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,183},{76,94}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,282},{72,96}}</string>
                <key>offset</key>
                <string>{-20,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,181},{72,96}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_appear_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,206},{74,100}}</string>
                <key>offset</key>
                <string>{-14,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{461,182},{74,100}}</string>
                <key>sourceSize</key>
                <string>{1024,336}</string>
            </dict>
            <key>9004_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{64,100}}</string>
                <key>offset</key>
                <string>{-15,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,184},{64,100}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,290},{62,86}}</string>
                <key>offset</key>
                <string>{-35,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,182},{62,86}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2},{168,198}}</string>
                <key>offset</key>
                <string>{-28,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,106},{168,198}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{176,210}}</string>
                <key>offset</key>
                <string>{-30,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,89},{176,210}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{202,278}}</string>
                <key>offset</key>
                <string>{-39,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,20},{202,278}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{216,300}}</string>
                <key>offset</key>
                <string>{-42,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,0},{216,300}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_down_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{226,268}}</string>
                <key>offset</key>
                <string>{-47,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,0},{226,268}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_down_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2},{218,240}}</string>
                <key>offset</key>
                <string>{-48,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,0},{218,240}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_down_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,286}}</string>
                <key>offset</key>
                <string>{-76,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{272,286}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,290},{64,100}}</string>
                <key>offset</key>
                <string>{-15,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,184},{64,100}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,220},{60,86}}</string>
                <key>offset</key>
                <string>{-34,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,182},{60,86}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,220},{60,80}}</string>
                <key>offset</key>
                <string>{-33,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,181},{60,80}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,290},{58,98}}</string>
                <key>offset</key>
                <string>{-15,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,175},{58,98}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,206},{74,100}}</string>
                <key>offset</key>
                <string>{-14,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,182},{74,100}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,206},{74,100}}</string>
                <key>offset</key>
                <string>{-10,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,181},{74,100}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,268},{76,100}}</string>
                <key>offset</key>
                <string>{-8,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,178},{76,100}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,180},{76,100}}</string>
                <key>offset</key>
                <string>{-9,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,176},{76,100}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,258},{74,100}}</string>
                <key>offset</key>
                <string>{-12,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,175},{74,100}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,282},{72,98}}</string>
                <key>offset</key>
                <string>{-15,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,177},{72,98}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,282},{70,98}}</string>
                <key>offset</key>
                <string>{-17,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,179},{70,98}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>9004_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,282},{72,100}}</string>
                <key>offset</key>
                <string>{-17,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,180},{72,100}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>9004.pvr.ccz</string>
            <key>size</key>
            <string>{2020,356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c74947c78006c03f4b7cc9802dc3e69:9897fb09086f9dfa899dfb9fb24c45bf:5a17c8577faf9620b05a25590503a5ad$</string>
            <key>textureFileName</key>
            <string>9004.pvr.ccz</string>
        </dict>
    </dict>
</plist>
