<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101001_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1644},{174,156}}</string>
                <key>offset</key>
                <string>{-3,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,154},{174,156}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1262},{184,150}}</string>
                <key>offset</key>
                <string>{-14,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,161},{184,150}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,776},{194,150}}</string>
                <key>offset</key>
                <string>{-35,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,162},{194,150}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1414},{198,154}}</string>
                <key>offset</key>
                <string>{-38,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,158},{198,154}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{208,160}}</string>
                <key>offset</key>
                <string>{-43,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,152},{208,160}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{220,152}}</string>
                <key>offset</key>
                <string>{-36,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,159},{220,152}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{266,168}}</string>
                <key>offset</key>
                <string>{20,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,142},{266,168}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{244,168}}</string>
                <key>offset</key>
                <string>{22,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,142},{244,168}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{238,168}}</string>
                <key>offset</key>
                <string>{22,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,142},{238,168}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1098},{196,162}}</string>
                <key>offset</key>
                <string>{16,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,148},{196,162}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1570},{176,156}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,154},{176,156}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1848},{82,76}}</string>
                <key>offset</key>
                <string>{-69,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,125},{82,76}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1938},{94,88}}</string>
                <key>offset</key>
                <string>{-91,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,171},{94,88}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1938},{100,110}}</string>
                <key>offset</key>
                <string>{-92,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,197},{100,110}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1934},{104,114}}</string>
                <key>offset</key>
                <string>{-91,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,197},{104,114}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1728},{118,106}}</string>
                <key>offset</key>
                <string>{-90,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,204},{118,106}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1802},{124,130}}</string>
                <key>offset</key>
                <string>{-111,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,190},{124,130}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1802},{126,134}}</string>
                <key>offset</key>
                <string>{-193,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,150},{126,134}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1728},{70,102}}</string>
                <key>offset</key>
                <string>{-155,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,163},{70,102}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1932},{50,86}}</string>
                <key>offset</key>
                <string>{-148,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,173},{50,86}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1570},{64,32}}</string>
                <key>offset</key>
                <string>{-111,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,155},{64,32}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_fx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1800},{60,60}}</string>
                <key>offset</key>
                <string>{-75,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,132},{60,60}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_impact_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{236,222}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,80},{236,222}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_impact_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,208}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,81},{272,208}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_impact_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{234,178}}</string>
                <key>offset</key>
                <string>{16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,99},{234,178}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_impact_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{240,180}}</string>
                <key>offset</key>
                <string>{21,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,109},{240,180}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_impact_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{238,180}}</string>
                <key>offset</key>
                <string>{19,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,108},{238,180}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_pjt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,562},{212,192}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,92},{212,192}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_pjt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,928},{184,168}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,95},{184,168}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_pjt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,400},{188,160}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,104},{188,160}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101001_pjt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,212},{186,166}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,97},{186,166}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>101001.pvr.ccz</string>
            <key>size</key>
            <string>{438,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55ed1c40d93eeaf8d1ac8539b1374fe2:2682cfbd48e249a68e2e0660fd00db35:738d7041dc67c87180aa04e6902179e3$</string>
            <key>textureFileName</key>
            <string>101001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
