<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101004_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1794},{186,172}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,138},{186,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101004_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1640},{172,146}}</string>
                <key>offset</key>
                <string>{-5,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,164},{172,146}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101004_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,1788},{164,142}}</string>
                <key>offset</key>
                <string>{-4,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,169},{164,142}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101004_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1728},{170,156}}</string>
                <key>offset</key>
                <string>{-6,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,154},{170,156}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101004_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1346},{162,224}}</string>
                <key>offset</key>
                <string>{-19,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,90},{162,224}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101004_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1502},{194,224}}</string>
                <key>offset</key>
                <string>{-35,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,90},{194,224}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101004_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1342},{208,224}}</string>
                <key>offset</key>
                <string>{-42,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,90},{208,224}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101004_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1342},{212,220}}</string>
                <key>offset</key>
                <string>{-44,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,90},{212,220}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101004_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1564},{208,224}}</string>
                <key>offset</key>
                <string>{-42,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,90},{208,224}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101004_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1774},{206,224}}</string>
                <key>offset</key>
                <string>{-41,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,90},{206,224}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101004_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{184,216}}</string>
                <key>offset</key>
                <string>{-39,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,95},{184,216}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101004_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1794},{190,216}}</string>
                <key>offset</key>
                <string>{-40,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,98},{190,216}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101004_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1572},{208,214}}</string>
                <key>offset</key>
                <string>{-49,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,96},{208,214}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101004_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,678},{212,216}}</string>
                <key>offset</key>
                <string>{-51,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,95},{212,216}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101004_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1784},{200,202}}</string>
                <key>offset</key>
                <string>{-36,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,112},{200,202}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101004_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,1342},{182,158}}</string>
                <key>offset</key>
                <string>{-14,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,152},{182,158}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101004_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1482},{172,156}}</string>
                <key>offset</key>
                <string>{-4,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,154},{172,156}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101004_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,814},{1,1}}</string>
                <key>offset</key>
                <string>{-360.5,222.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{722,446}</string>
            </dict>
            <key>101004_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1568},{214,200}}</string>
                <key>offset</key>
                <string>{10,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,241},{214,200}}</string>
                <key>sourceSize</key>
                <string>{722,446}</string>
            </dict>
            <key>101004_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,450},{226,200}}</string>
                <key>offset</key>
                <string>{6,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,238},{226,200}}</string>
                <key>sourceSize</key>
                <string>{722,446}</string>
            </dict>
            <key>101004_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1246},{234,264}}</string>
                <key>offset</key>
                <string>{15,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,176},{234,264}}</string>
                <key>sourceSize</key>
                <string>{722,446}</string>
            </dict>
            <key>101004_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,442},{314,370}}</string>
                <key>offset</key>
                <string>{-18,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,71},{314,370}}</string>
                <key>sourceSize</key>
                <string>{722,446}</string>
            </dict>
            <key>101004_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,898},{366,442}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,0},{366,442}}</string>
                <key>sourceSize</key>
                <string>{722,446}</string>
            </dict>
            <key>101004_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{476,446}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{476,446}}</string>
                <key>sourceSize</key>
                <string>{722,446}</string>
            </dict>
            <key>101004_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{384,438}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,8},{384,438}}</string>
                <key>sourceSize</key>
                <string>{722,446}</string>
            </dict>
            <key>101004_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{400,446}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,0},{400,446}}</string>
                <key>sourceSize</key>
                <string>{722,446}</string>
            </dict>
            <key>101004_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{366,446}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,0},{366,446}}</string>
                <key>sourceSize</key>
                <string>{722,446}</string>
            </dict>
            <key>101004_fx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{404,446}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,0},{404,446}}</string>
                <key>sourceSize</key>
                <string>{722,446}</string>
            </dict>
            <key>101004_fx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{434,446}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,0},{434,446}}</string>
                <key>sourceSize</key>
                <string>{722,446}</string>
            </dict>
            <key>101004_fx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,450},{396,446}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,0},{396,446}}</string>
                <key>sourceSize</key>
                <string>{722,446}</string>
            </dict>
            <key>101004_fx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,898},{368,442}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,0},{368,442}}</string>
                <key>sourceSize</key>
                <string>{722,446}</string>
            </dict>
            <key>101004_fx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,814},{302,430}}</string>
                <key>offset</key>
                <string>{-33,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,6},{302,430}}</string>
                <key>sourceSize</key>
                <string>{722,446}</string>
            </dict>
            <key>101004_fx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1788},{214,198}}</string>
                <key>offset</key>
                <string>{6,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,239},{214,198}}</string>
                <key>sourceSize</key>
                <string>{722,446}</string>
            </dict>
            <key>101004_fx_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,220},{214,172}}</string>
                <key>offset</key>
                <string>{6,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,250},{214,172}}</string>
                <key>sourceSize</key>
                <string>{722,446}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>101004.pvr.ccz</string>
            <key>size</key>
            <string>{1458,1988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5331e4a94a89adc3d18cc942cd94f20:5ba0b1a42486cac29fc31031c906b777:55e8de016826a962bf717b570d3327e5$</string>
            <key>textureFileName</key>
            <string>101004.pvr.ccz</string>
        </dict>
    </dict>
</plist>
