<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101002_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,510},{182,170}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,140},{182,170}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101002_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1496},{176,164}}</string>
                <key>offset</key>
                <string>{1,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,146},{176,164}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101002_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,682},{170,162}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,148},{170,162}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101002_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,332},{176,182}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,128},{176,182}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101002_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1130},{214,256}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,54},{214,256}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101002_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{234,262}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,48},{234,262}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101002_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1100},{250,232}}</string>
                <key>offset</key>
                <string>{-33,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,78},{250,232}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101002_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1406},{252,256}}</string>
                <key>offset</key>
                <string>{-34,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,54},{252,256}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101002_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,686},{246,212}}</string>
                <key>offset</key>
                <string>{-31,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,98},{246,212}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101002_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,1170},{246,210}}</string>
                <key>offset</key>
                <string>{-30,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,100},{246,210}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101002_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,934},{234,212}}</string>
                <key>offset</key>
                <string>{-24,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,98},{234,212}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101002_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2},{238,212}}</string>
                <key>offset</key>
                <string>{-25,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,98},{238,212}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101002_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1130},{254,220}}</string>
                <key>offset</key>
                <string>{-34,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,90},{254,220}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101002_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,846},{252,202}}</string>
                <key>offset</key>
                <string>{-38,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,108},{252,202}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101002_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,1418},{232,192}}</string>
                <key>offset</key>
                <string>{-25,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,118},{232,192}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101002_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,216},{200,172}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,138},{200,172}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>101002_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,752},{1,1}}</string>
                <key>offset</key>
                <string>{-380.5,270.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{762,542}</string>
            </dict>
            <key>101002_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1590},{278,70}}</string>
                <key>offset</key>
                <string>{12,-228}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,464},{278,70}}</string>
                <key>sourceSize</key>
                <string>{762,542}</string>
            </dict>
            <key>101002_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1508},{272,80}}</string>
                <key>offset</key>
                <string>{15,-224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,455},{272,80}}</string>
                <key>sourceSize</key>
                <string>{762,542}</string>
            </dict>
            <key>101002_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{260,100}}</string>
                <key>offset</key>
                <string>{20,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,434},{260,100}}</string>
                <key>sourceSize</key>
                <string>{762,542}</string>
            </dict>
            <key>101002_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,418},{328,322}}</string>
                <key>offset</key>
                <string>{46,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,210},{328,322}}</string>
                <key>sourceSize</key>
                <string>{762,542}</string>
            </dict>
            <key>101002_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,1386},{252,334}}</string>
                <key>offset</key>
                <string>{10,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,200},{252,334}}</string>
                <key>sourceSize</key>
                <string>{762,542}</string>
            </dict>
            <key>101002_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1406},{256,332}}</string>
                <key>offset</key>
                <string>{8,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,203},{256,332}}</string>
                <key>sourceSize</key>
                <string>{762,542}</string>
            </dict>
            <key>101002_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,332},{306,352}}</string>
                <key>offset</key>
                <string>{25,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,180},{306,352}}</string>
                <key>sourceSize</key>
                <string>{762,542}</string>
            </dict>
            <key>101002_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,748},{364,380}}</string>
                <key>offset</key>
                <string>{29,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,158},{364,380}}</string>
                <key>sourceSize</key>
                <string>{762,542}</string>
            </dict>
            <key>101002_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,238},{508,328}}</string>
                <key>offset</key>
                <string>{17,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,22},{508,328}}</string>
                <key>sourceSize</key>
                <string>{762,542}</string>
            </dict>
            <key>101002_fx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,2},{620,328}}</string>
                <key>offset</key>
                <string>{24,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,27},{620,328}}</string>
                <key>sourceSize</key>
                <string>{762,542}</string>
            </dict>
            <key>101002_fx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,752},{652,348}}</string>
                <key>offset</key>
                <string>{9,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,35},{652,348}}</string>
                <key>sourceSize</key>
                <string>{762,542}</string>
            </dict>
            <key>101002_fx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,752},{742,336}}</string>
                <key>offset</key>
                <string>{10,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,45},{742,336}}</string>
                <key>sourceSize</key>
                <string>{762,542}</string>
            </dict>
            <key>101002_fx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{748,434}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,40},{748,434}}</string>
                <key>sourceSize</key>
                <string>{762,542}</string>
            </dict>
            <key>101002_fx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{752,366}}</string>
                <key>offset</key>
                <string>{5,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{752,366}}</string>
                <key>sourceSize</key>
                <string>{762,542}</string>
            </dict>
            <key>101002_fx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{750,378}}</string>
                <key>offset</key>
                <string>{-2,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{750,378}}</string>
                <key>sourceSize</key>
                <string>{762,542}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>101002.pvr.ccz</string>
            <key>size</key>
            <string>{1968,1664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6da392250ce0ed1003a3be8ab768680c:e6b773afeb9078c8f6e7b766d264eca6:7b6b2e3368178a6965223fc97c47f30a$</string>
            <key>textureFileName</key>
            <string>101002.pvr.ccz</string>
        </dict>
    </dict>
</plist>
