<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101007_fx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,308},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>101007_fx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,308},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>101007_fx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,308},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>101007_fx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,308},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>101007_fx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,968},{248,194}}</string>
                <key>offset</key>
                <string>{-5,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,292},{248,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>101007_fx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,968},{244,196}}</string>
                <key>offset</key>
                <string>{-12,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,294},{244,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>101007_fx_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1214},{248,180}}</string>
                <key>offset</key>
                <string>{-12,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,306},{248,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>101007_fx_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1200},{238,326}}</string>
                <key>offset</key>
                <string>{-6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,145},{238,326}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>101007_fx_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1200},{244,316}}</string>
                <key>offset</key>
                <string>{-7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,135},{244,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>101007_fx_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1200},{270,314}}</string>
                <key>offset</key>
                <string>{-17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,117},{270,314}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>101007_fx_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,576},{460,390}}</string>
                <key>offset</key>
                <string>{-10,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,83},{460,390}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>101007_fx_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{494,358}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,49},{494,358}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>101007_fx_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,448}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{512,448}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>101007_fx_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{500,386}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{500,386}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>101007_fx_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,308},{402,266}}</string>
                <key>offset</key>
                <string>{-29,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,91},{402,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>101007_fx_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{456,304}}</string>
                <key>offset</key>
                <string>{-28,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{456,304}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>101007.pvr.ccz</string>
            <key>size</key>
            <string>{974,1554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81e547a8afbea3ee9a77c9d01ae2407d:bf8349e7adad2c1a43a98c80291ba01a:b548ad2787b8c62ae4e217005966ce35$</string>
            <key>textureFileName</key>
            <string>101007.pvr.ccz</string>
        </dict>
    </dict>
</plist>
