<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100203_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,784},{210,174}}</string>
                <key>offset</key>
                <string>{9,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,134},{210,174}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,312},{214,188}}</string>
                <key>offset</key>
                <string>{12,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,123},{214,188}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,666},{264,196}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,115},{264,196}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,558},{264,228}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,83},{264,228}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,664},{226,242}}</string>
                <key>offset</key>
                <string>{-17,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,68},{226,242}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,754},{224,216}}</string>
                <key>offset</key>
                <string>{-17,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,95},{224,216}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,732},{230,242}}</string>
                <key>offset</key>
                <string>{-14,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,69},{230,242}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,292},{246,264}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,47},{246,264}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,330},{266,282}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,27},{266,282}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,2},{288,278}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,32},{288,278}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,262},{274,256}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,55},{274,256}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,312},{274,212}}</string>
                <key>offset</key>
                <string>{45,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,94},{274,212}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,614},{186,156}}</string>
                <key>offset</key>
                <string>{5,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,146},{186,156}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_impact_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{426,258}}</string>
                <key>offset</key>
                <string>{-43,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{426,258}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_impact_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,340},{322,262}}</string>
                <key>offset</key>
                <string>{-38,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,74},{322,262}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_impact_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,528},{254,184}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,80},{254,184}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_impact_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,520},{274,210}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,78},{274,210}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_impact_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{320,274}}</string>
                <key>offset</key>
                <string>{15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,60},{320,274}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_impact_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{380,326}}</string>
                <key>offset</key>
                <string>{33,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,10},{380,326}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_impact_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2},{364,308}}</string>
                <key>offset</key>
                <string>{44,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,0},{364,308}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_impact_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{386,324}}</string>
                <key>offset</key>
                <string>{39,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,0},{386,324}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_impact_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{464,336}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{464,336}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_impact_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,526},{226,272}}</string>
                <key>offset</key>
                <string>{11,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,9},{226,272}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_impact_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,788},{174,184}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,98},{174,184}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_impact_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,788},{168,136}}</string>
                <key>offset</key>
                <string>{131,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,126},{168,136}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
            <key>100203_impact_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,330},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,167.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100203.pvr.ccz</string>
            <key>size</key>
            <string>{1924,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b6708727c6ebb590385ae45db8172de:e7208948c27a00c1e4639c8da6f47e3f:bb61d225b207d17717b6fda922788c6e$</string>
            <key>textureFileName</key>
            <string>100203.pvr.ccz</string>
        </dict>
    </dict>
</plist>
